
.wrapper{

    margin: 0 auto;
    padding: 0 4%;
}

body{
    
    background-image:url(body1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

.main{
    width:700px;
    color: rgb(254, 254, 255);
    border-radius: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: center;
    font-size: 25px;
}

.page-header{
    background-color:black;
    display: flex;
    justify-content: space-between;
    height: 85px;
}

.logo{
    color: rgb(221, 241, 38);
    margin: 10px auto ;
    font-size: 30px;
    }


.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    margin-top: 10px;
    border: solid 3px #ffffea;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #50e90e;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3583bbb8;
    transition: all 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    color:#f0e5e5;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content a:hover{
    color: blue;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

.set{
    width: 680px;
    margin: 20px auto;
    border-radius: 20px;
}

.department{
    text-align: center;
    color: #3ba0e4;
    margin: 10px auto;
}

.mogi-all{
    text-align: center;
    
}

.mogi{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.seisaku-all{
    text-align: center;
}

.seisaku{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}


.kouhou-all{
    text-align: center;
}

.kouhou{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.tenji-all{
    text-align: center;
}

.tenji{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}


.staji-all{
    text-align: center;
}

.staji{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.nousan-all{
    text-align: center;
}

.nousan{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.keibi-all{
    text-align: center;
}

.keibi{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.kaikei-all{
    text-align: center;
}

.kaikei{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.bupin-all{
    text-align: center;
}

.bupin{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.inquiry{
    margin: 20px auto;
    padding: 20px 40px;
    background-color: rgb(108, 209, 108);
    border-radius: 20px;
    display: block;
    color: rgb(247, 247, 247);

}

.inquiry:hover{
    background-color: rgba(143, 188, 143, 0.585);
}

.twitter{
    background-color: rgba(0, 0, 255, 0.775);
    color: rgb(248, 248, 248);
    border-radius: 20px;
    padding: 20px 40px;
    display: block;
}

.twitter:hover{
    background-color: rgba(0, 0, 255, 0.428);
}

.Instaglam{
    display: block;
    background-color: rgba(224, 47, 142, 0.857);
    color: rgb(238, 238, 238);
    border-radius: 20px;
    padding: 20px 40px;
    margin: 20px auto;
}

.Instaglam:hover{
    background-color: rgba(224, 47, 141, 0.517);
}

.btn{
    background-color: darkgoldenrod;
    padding: 20px 40px;  
    margin-top: 50px; 
}

h1 {
    color: #3ba0e4;
    text-align: center;
    font-size: 40px;
  }
  

h2 {
    position: relative;
    color: #ffffff;
    font-size: 50px;
    padding: 10px 0;
    text-align: center;
    margin: 20px auto auto 0px;
  }


footer{
    background-color:#432;
    text-align: center;
    padding: 26px 0;
}

footer p{
    color: #fff;
    font-size: 0.875rem;
}

