.wrapper{
    margin: 0 auto;
    padding: 0 4%;
}

#home{
    background-image: url(body1.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

a{
    text-decoration: none;
}

.logo{
    color: rgb(221, 241, 38);
    font-size: 30px;
    margin: 0 auto ;
    }

.main{
    width:700px;
    color: #ffffff;
    border-radius: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px 10px;
    font-size: 25px;
}

.page-header{
    background-color:black;
    display: flex;
    justify-content: space-between;
    height: 85px;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    margin-top: 10px;
    border: solid 3px #fffffb;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #50e90e;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3583bbb8;
    transition: all 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    color:#f0e5e5;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content a:hover{
    color: blue;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

form{
    background-color: #ffffff;
    padding: 20px 50px;
    margin: 40px 0;
    border-radius: 20px;
}

.twitter{
    text-align: center;
    background-color: rgba(0, 0, 255, 0.775);
    color: rgb(248, 248, 248);
    border-radius: 20px;
    padding: 20px 40px;
    display: block;
}

.twitter:hover{
    background-color: rgba(0, 0, 255, 0.428);
}

.Instaglam{
    text-align: center;
    display: block;
    background-color: rgba(224, 47, 142, 0.857);
    color: rgb(238, 238, 238);
    border-radius: 20px;
    padding: 20px 40px;
    margin: 20px auto;
}

.Instaglam:hover{
    background-color: rgba(224, 47, 141, 0.517);
}

p{
    margin: 30px 20px;
}

footer{
    background-color:#432;
    text-align: center;
    padding: 26px 0;
}

footer p{
    color: #fff;
    font-size: 0.875rem;
}

