.wrapper{
    margin: 0 auto;
    padding: 0 4%;
}

body{
    
    background-image:url(body.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

.logo{
    color: rgb(221, 241, 38);
    font-size: 30px;
    margin: 0 auto ;
    }

.main{
    width:700px;
    background-color: rgba(221, 241, 38, 0.591);
    border-radius: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: center;
}

h1 {
    position: relative;
    color: #333;
    display: inline-block;
    margin: 47px 0;
    text-shadow: 0 0 2px white;
  }

  h1:before {
    content: "";
    position: absolute;
    background: #ffd69d;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
  }

.member{
    width: 600px;
    height: 400px;
    margin: 20px auto;
    border-radius: 50px;
}

.sub{
    font: bold;
    font-size: 20px;
    color: rgb(255, 8, 0);
}

.page-header{
    background-color:black;
    display: flex;
    justify-content: space-between;
    height: 85px;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    margin-top: 10px;
    border: solid 3px #131312;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #50e90e;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3583bbb8;
    transition: all 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    color:#f0e5e5;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content a:hover{
    color: blue;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

form{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px auto;
}

footer{
    background-color:#432;
    text-align: center;
    padding: 26px 0;
}

footer p{
    color: #fff;
    font-size: 0.875rem;
}

