.wrapper{
    margin: 0 auto;
    padding: 0 4%;
}

body{
    
    background-image:url(body1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

.main{
    width:100%;
    border-radius: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: center;
    color: gainsboro;
    font-size: 25px;
}

.logo{
    color: rgb(221, 241, 38);
    font-size: 30px;
    margin: 0 auto ;
    }

.page-header{
    background-color:black;
    display: flex;
    justify-content: space-between;
    height: 87px;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    margin-top: 10px;
    border: solid 3px #ffffff;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #50e90e;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3583bbb8;
    transition: all 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    color:#f0e5e5;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content a:hover{
    color: blue;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;
}

.contents-area{
    border-bottom-style: double;
    border-top-style: double ;
}

.plan li{
    list-style: none;
    margin: 10px auto;
}

.plan li a{
    color: #ffffff;
    
}

.plan li a:hover{
    color: rgb(34, 96, 221);
}

h2 {
    position: relative;
    color: #ebebeb;
    background-color: rgb(20, 18, 6);
    font-size: 50px;
    padding: 10px ;
    text-align: center;
    margin:10px auto;
    border: solid 3px #dfe1e7;
    width: 200px;
    margin: 20px auto;
    border-radius: 0.5em;
  }

 h1 {
    color: #ebebeb;
    padding: 0.5em;
    border-radius: 0.5em;
    }

.food{
    margin: 10px auto;
    width: 680px;
    border-radius: 40px;
}

.karaoke{
    margin: 10px auto;
    width: 680px;
    border-radius: 40px;
}

.third{
    margin: 10px auto;
    width: 680px;
    border-radius: 40px;
}

.bingo{
    margin: 10px auto;
    width: 680px;
    border-radius: 40px;
}

.cross{
    margin: 10px auto;
    width: 680px;
    border-radius: 40px;
}

.enter{
    margin: 10px auto;
    width: 680px;
    border-radius: 40px;
}

footer{
    background-color:#432;
    text-align: center;
    padding: 26px 0;
}

footer p{
    color: #fff;
    font-size: 0.875rem;
}

@media (max-width: 600px){
    p{
        font-size: 30px;
    }
    
}