*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(body1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color: black;
    color: white;
}

.container{
    width: 800px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.877);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 8px solid rgb(16, 153, 112);
}

footer{
    background-color: black;
    color: white;
}

.under{
    background:linear-gradient(transparent 70%, #87e68f 50%);
}

.photo{
    width: 80%;
    height: 400px;
    margin:10px 80px;
}

.container p{
    font-size: 25px;
}

.btn{
    width: 200px;
    margin: 20px;
    padding: 7px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border: 3px solid #000;
    padding: 0.7em 0;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    box-shadow: 7px 7px 0 0 #01c6f7;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    transition: all 0.3s
}

.btn:hover{
    box-shadow: none;
    background-color: #01c6f7;
}

@media screen and (max-width: 767px) {
    .container{
      width: 100%;
      margin: 0;
    }

    .photo{
        object-fit: cover;
        height: 250px;
        margin: 0;
        width: 100%;

    }
}
